body {
    font-family: sans-serif;
}
#playarea {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: blueviolet;
}
#target {
    position: absolute;
    width: 200px;
    height: 150px;
    text-align: center;
    background-color: darkgreen;
}
